html, body{
    
    background-color: var(--surface-b);
    font-family: var(--font-family);
}
.text-layout{
    color: var(--text-color);
}

a{
    text-decoration: none;
}

@import "assets/layout/styles/layout/layout.scss";
 @import "../node_modules/primeng/resources/primeng.min.css";
 @import "../node_modules/primeflex/primeflex.scss";
 @import "../node_modules/primeicons/primeicons.css";
 @import "assets/demo/styles/flags/flags.css";
 @import "assets/demo/styles/badges.scss";
 @import "assets/demo/styles/code.scss";
 